In [1]:
#Ссылка№1#Ссылка№1#Ссылка№1#Ссылка№1#Ссылка№1#Ссылка№1#Ссылка№1#Ссылка№1#Ссылка№1#Ссылка№1#Ссылка№1#Ссылка№1

In [5]:
from datetime import datetime, timedelta

In [15]:
#Задание№1
date_string="May 9 2017 9:00AM"
datetime.strptime(date_string,"%b %d %Y %H:%M%p")

datetime.datetime(2017, 5, 9, 9, 0)

In [25]:
#Задание№2
startDate="May 9 2017 9:00AM"
startDate_datetime=datetime.strptime(startDate,"%b %d %Y %H:%M%p")
startDate_datetime+=timedelta(hours=1)
startDate_datetime

datetime.datetime(2017, 5, 9, 10, 0)

In [28]:
#Задание№3
startDate_datetime.strftime("%Y-%m-%d")

'2017-05-09'

In [31]:
#Задание№4
startDate = '2017-01-01 00:00:00'
endDate = '2017-01-03 23:59:59'
startDate_datetime = datetime.strptime(startDate,'%Y-%m-%d %H:%M:%S')
endDate_datetime = datetime.strptime(endDate,'%Y-%m-%d %H:%M:%S')
current_day = startDate_datetime
while current_day <= endDate_datetime:
    print(current_day.strftime('%Y-%m-%d %H:%M:%S'))
    current_day += timedelta(hours=1)

2017-01-01 00:00:00
2017-01-01 01:00:00
2017-01-01 02:00:00
2017-01-01 03:00:00
2017-01-01 04:00:00
2017-01-01 05:00:00
2017-01-01 06:00:00
2017-01-01 07:00:00
2017-01-01 08:00:00
2017-01-01 09:00:00
2017-01-01 10:00:00
2017-01-01 11:00:00
2017-01-01 12:00:00
2017-01-01 13:00:00
2017-01-01 14:00:00
2017-01-01 15:00:00
2017-01-01 16:00:00
2017-01-01 17:00:00
2017-01-01 18:00:00
2017-01-01 19:00:00
2017-01-01 20:00:00
2017-01-01 21:00:00
2017-01-01 22:00:00
2017-01-01 23:00:00
2017-01-02 00:00:00
2017-01-02 01:00:00
2017-01-02 02:00:00
2017-01-02 03:00:00
2017-01-02 04:00:00
2017-01-02 05:00:00
2017-01-02 06:00:00
2017-01-02 07:00:00
2017-01-02 08:00:00
2017-01-02 09:00:00
2017-01-02 10:00:00
2017-01-02 11:00:00
2017-01-02 12:00:00
2017-01-02 13:00:00
2017-01-02 14:00:00
2017-01-02 15:00:00
2017-01-02 16:00:00
2017-01-02 17:00:00
2017-01-02 18:00:00
2017-01-02 19:00:00
2017-01-02 20:00:00
2017-01-02 21:00:00
2017-01-02 22:00:00
2017-01-02 23:00:00
2017-01-03 00:00:00
2017-01-03 01:00:00
2017-01-03 02:00:00
2017-01-03 03:00:00
2017-01-03 04:00:00
2017-01-03 05:00:00
2017-01-03 06:00:00
2017-01-03 07:00:00
2017-01-03 08:00:00
2017-01-03 09:00:00
2017-01-03 10:00:00
2017-01-03 11:00:00
2017-01-03 12:00:00
2017-01-03 13:00:00
2017-01-03 14:00:00
2017-01-03 15:00:00
2017-01-03 16:00:00
2017-01-03 17:00:00
2017-01-03 18:00:00
2017-01-03 19:00:00
2017-01-03 20:00:00
2017-01-03 21:00:00
2017-01-03 22:00:00
2017-01-03 23:00:00

In [32]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/data.tsv', sep='\t')
data.head()

,id,date,user_id,duration,medium,source,cost,order_id,amount_paid
0,40443,05.10.2016 23:18,1010,0.000926,seo,google,0.00,6243,20.2
1,35044,09.10.2016 21:40,1036,0.006493,sem,yandex,0.07,6145,15.6
2,40177,05.10.2016 3:23,1041,0.003380,email,promo,0.00,6128,13.2
3,39401,05.10.2016 23:19,1041,0.000463,sem,yandex,0.03,6697,9.8
4,41545,01.10.2016 4:57,1042,0.006493,sem,google,0.06,4510,14.8

In [34]:
def convert_to_datetime(row):
    return datetime.strptime(row['date'], '%d.%m.%Y %H:%M')

In [35]:
data['datetime'] = data.apply(convert_to_datetime, axis=1)
data.head()

,id,date,user_id,duration,medium,source,cost,order_id,amount_paid,datetime
0,40443,05.10.2016 23:18,1010,0.000926,seo,google,0.00,6243,20.2,2016-10-05 23:18:00
1,35044,09.10.2016 21:40,1036,0.006493,sem,yandex,0.07,6145,15.6,2016-10-09 21:40:00
2,40177,05.10.2016 3:23,1041,0.003380,email,promo,0.00,6128,13.2,2016-10-05 03:23:00
3,39401,05.10.2016 23:19,1041,0.000463,sem,yandex,0.03,6697,9.8,2016-10-05 23:19:00
4,41545,01.10.2016 4:57,1042,0.006493,sem,google,0.06,4510,14.8,2016-10-01 04:57:00

In [37]:
import time
def make_unix_time(row):
    return time.mktime(row['datetime'].timetuple())

In [38]:
data['unixtime'] = data.apply(make_unix_time, axis=1)
data.head()

,id,date,user_id,duration,medium,source,cost,order_id,amount_paid,datetime,unixtime
0,40443,05.10.2016 23:18,1010,0.000926,seo,google,0.00,6243,20.2,2016-10-05 23:18:00,1.475699e+09
1,35044,09.10.2016 21:40,1036,0.006493,sem,yandex,0.07,6145,15.6,2016-10-09 21:40:00,1.476038e+09
2,40177,05.10.2016 3:23,1041,0.003380,email,promo,0.00,6128,13.2,2016-10-05 03:23:00,1.475627e+09
3,39401,05.10.2016 23:19,1041,0.000463,sem,yandex,0.03,6697,9.8,2016-10-05 23:19:00,1.475699e+09
4,41545,01.10.2016 4:57,1042,0.006493,sem,google,0.06,4510,14.8,2016-10-01 04:57:00,1.475287e+09

In [39]:
data["user_id"]

0      1010
1      1036
2      1041
3      1041
4      1042
       ...
289    1424
290    1424
291    1424
292    1424
293    1424
Name: user_id, Length: 294, dtype: int64

In [40]:
#Ссылка№3#Ссылка№3#Ссылка№3#Ссылка№3#Ссылка№3#Ссылка№3#Ссылка№3#Ссылка№3#Ссылка№3#Ссылка№3#Ссылка№3

In [42]:
url = "https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/new_year_film.csv"
cinema=pd.read_csv(url)

In [57]:
A=cinema.ranking
Mean=0

In [82]:
for i in range(0,150):
    a=A[i]
    b=[a[0],".",a[2::]]
    c=''.join(b)
    Mean=Mean+float(c)
Mean=Mean/len(A) 
round(Mean,2)

7.27

In [169]:
#Ссылка№7#Ссылка№7#Ссылка№7#Ссылка№7#Ссылка№7#Ссылка№7#Ссылка№7#Ссылка№7#Ссылка№7

In [170]:
from IPython.display import HTML

In [181]:
!pip3 install requests;

Requirement already satisfied: requests in c:\users\dinar\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\site-packages (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dinar\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\site-packages (from requests) (2020.4.5.1)
Requirement already satisfied: idna<3,>=2.5 in c:\users\dinar\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\site-packages (from requests) (2.9)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\dinar\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\site-packages (from requests) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\dinar\appdata\local\packages\pythonsoftwarefoundation.python.3.8_qbz5n2kfra8p0\localcache\local-packages\python38\site-packages (from requests) (1.25.9)

WARNING: You are using pip version 19.2.3, however version 20.1.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [173]:
import requests  
response = requests.get('https://www.cbr-xml-daily.ru/daily_json.js')

In [174]:
response

In [175]:
response.status_code

200

In [176]:
response.text[:230]

'{\n    "Date": "2020-05-23T11:30:00+03:00",\n    "PreviousDate": "2020-05-22T11:30:00+03:00",\n    "PreviousURL": "\\/\\/www.cbr-xml-daily.ru\\/archive\\/2020\\/05\\/22\\/daily_json.js",\n    "Timestamp": "2020-05-23T23:00:00+03:00",\n    "Va'

In [178]:
currencies = response.json()
currencies;

In [201]:
currencies['Valute'];

In [182]:
df = pd.read_csv('https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/it_new.csv')
df.head(3)

,id,Дата рождения,Вакансия,Технология,Локация,З/п в валюте найма,col,curenc
0,1,18.04.1994,Инженер-программист 2 категории,JS,Санкт-Петербург,"140 000,00 ₽",140000.0,₽
1,2,27.03.1993,Разработчик информационных систем,.NET,Москва,"130 000,00 ₽",130000.0,₽
2,3,24.11.1983,Java Developer,Java,Санкт-Петербург,"200 000,00 ₽",200000.0,₽

In [205]:
Sum=0
k=0
for i in range(0,len(df)):
    if df.curenc[i]=='₽':
        Sum=Sum+df.col[i]
        k+=1
    if df.curenc[i]=='€': 
        Sum=Sum+df.col[i]*currencies['Valute']["EUR"]["Value"]
        k+=1
    if df.curenc[i]=='$':
        Sum=Sum+df.col[i]*currencies['Valute']["USD"]["Value"]
        k+=1

In [210]:
Mean=round(Sum/k,0)
Mean

198015.0

In [211]:
#Ссылка№9#Ссылка№9#Ссылка№9#Ссылка№9#Ссылка№9#Ссылка№9#Ссылка№9#Ссылка№9#Ссылка№9

In [1]:
url = "https://raw.githubusercontent.com/dm-fedorov/pandas_basic/master/data/deputat.csv"
df = pd.read_csv(url)
df

NameError: name 'pd' is not defined